@font-face {
    font-family: montserrat;
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

:root {
    --primary-bg-color: #e1e1e1;
    --secondary-bg-color: #dddddd;
    --secondary-bg-color2: #d8d8d8;
    --primary-color: #212121;
    --secondary-color: #2e2e2e;
}

body {
    font-family: montserrat;
    background-color: var(--primary-bg-color);
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wrappers {
    display: flex;
    justify-content: left;
    align-items: center;
}

.gameWrapper {
    width: 90rem;
    height: 45rem;
    margin-top: 1rem;
    margin-right: 1rem;
    display: flex;

    justify-content: center;
    align-items: center;

    border-radius: 14px;
    border: 3px solid var(--primary-color);
    background-color: var(--secondary-bg-color);

    font-size: 15px;
    font-weight: 650;
    font-family: montserrat;
}

.leaderboardWrapper {
    width: 25rem;
    height: 45rem;
    margin-top: 1rem;
    display: flex;

    justify-content: center;
    text-align: center;

    border-radius: 14px;
    border: 3px solid var(--primary-color);
    background-color: var(--secondary-bg-color2);

    font-size: 11px;
    font-weight: 650;
    font-family: montserrat;
}

.leaderboardItem {
    width: 18rem;
    height: 2.25rem;
    margin-top: 1rem;
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;

    justify-content: left;
    align-items: center;

    border-radius: 14px;
    border: 3px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--secondary-bg-color2);

    font-size: 15px;
    font-weight: 650;
    font-family: montserrat;
}

.playerScore {
    padding-left: 12rem;
    text-align: right;
}