@font-face {
    font-family: montserrat;
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

:root {
    --primary-bg-color: #e1e1e1;
    --secondary-bg-color: #dddddd;
    --secondary-bg-color2: #d8d8d8;
    --primary-color: #212121;
    --secondary-color: #2e2e2e;
}

body {
    font-family: montserrat;
    background-color: var(--primary-bg-color);
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--primary-bg-color);
    border-radius: 4px;

    font-size: 15px;
    font-weight: 650;
    font-family: montserrat;    

    appearance: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#wrappers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
}

#gameWrapper {
    width: 1500px;
    height: 620px;
    margin-right: 1rem;
    display: flex;

    justify-content: space-evenly;

    border-radius: 14px;
    border: 3px solid var(--primary-color);
    background-color: var(--secondary-bg-color);

    font-size: 15px;
    font-weight: 650;
    font-family: montserrat;
}

#gameWrapperStartupPages {
    display: flex;
}

#gameplayWrapper {
    display: none;
}

#gameplayWrapper h1{
    color: var(--secondary-color);
    margin-top: 1.5rem;
    align-self: center;
    font-size: 200px;
}

#titlePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 100%;  
    overflow: hidden;
}

#titlePage img {
    margin-top: -3rem;
    width: 500px;
}

#titlePageButtons {
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
}

#titlePageButtons button {
    width: 16rem;
    height: 3.25rem;
    font-size: 15.5px;
    border-radius: 10px;
    margin-bottom: 0.25rem;
}

#instructionsPage {
    display: none;
    margin-top: 1.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    height: 100%;  
    overflow: hidden;
}

#instructionsPage p{
   padding-left: 100px;
   padding-right: 100px;
}

#instructionsPageButtons {
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
}

#instructionsPageButtons button {
    width: 6.5rem;
    height: 2.5rem;
    font-size: 15.5px;
    border-radius: 10px;
    margin-bottom: 0.25rem;
}

#settingsPage {
    display: none;
    margin-top: 1.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    height: 100%;  
    overflow: hidden;
}

#settingsPage p{
   padding-left: 70px;
   padding-right: 70px;
}

#settingsPageButtons {
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
}

#settingsPageButtons button {
    width: 6.5rem;
    height: 2.5rem;
    font-size: 15.5px;
    border-radius: 10px;
    margin-bottom: 0.25rem;
}

#leaderboardWrapper {
    width: 400px;
    height: 620px;
    display: flex;

    justify-content: center;
    text-align: center;

    border-radius: 14px;
    border: 3px solid var(--primary-color);
    background-color: var(--secondary-bg-color2);

    font-size: 10px;
    font-weight: 650;
    font-family: montserrat;
}

.leaderboardGrid {
    margin-top: 2rem;
}

.leaderboardItem {
    width: 285px;
    height: 35px;
    margin: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;

    justify-content: space-between;
    align-items: center;

    border-radius: 12px;
    border: 3px solid var(--primary-color);
    background-color: var(--secondary-bg-color2);
    color: var(--primary-color);

    font-size: 15px;
    font-weight: 650;
    font-family: montserrat;
}

#topLeaderboardItem {
    background-color: var(--primary-color);
    color: var(--secondary-bg-color2);
}

.playerName {
    text-align: left;
    flex: 1;
}

.playerScore {
    text-align: right;
    flex: 1;
}